*{
    margin: 0;
    padding: 0;
}
:root{
    --primary:#FAFAFA;
    --secondary:#000000;
    --third:#96BB7C;
    --green:#96BB7C;
    --four:#808080;
}
body{
    background-color: var(--primary);
}
li{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.menu ul{
    display: flex;
    
}
.menu ul li{
    
    display: flex;
    margin-left: 3rem;
}
.menu ul li a{
    text-decoration: none;
    color: var(--four);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}
.calltoaction ul{
    display: flex;
    margin-right: 7rem;
}
.calltoaction ul li{
    display: flex;
    margin-left: 1rem;
    

}
.calltoaction ul li a{
    text-decoration: none;


}
#login{
    color: var(--third);
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* border: 1px solid ; */
    margin-top: 1rem;
}

#join{

padding: 1rem;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
color: var(--primary);
background-color: var(--third);
border: 1px solid ;
margin-top: 1rem;
border-radius: .3rem;
}

/* section */
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    
}
.about-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 7rem;
}
.about-text a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: medium;
    color: var(--third);
    margin-bottom: 5rem;
}
.about-text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 800;

    margin-top: 2rem;
    margin-bottom: 3rem;
    
    
    
}
.about-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:#666666;
    font-weight: 600;
    margin-bottom: 2rem;
}
#first{  
     
padding: 1rem 2rem 1rem 2rem;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
color: var(--primary);
background-color: var(--third);
border: 1px solid ;
margin-top: rem;
border-radius: .3rem;
}
#second{
    color: var(--third);
    padding: .9rem 1.9rem .9rem 1.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 1px solid ;
    border-radius: .2rem;
    margin-top: 1rem;
}
.about-img{
    width: 50%;
}
.cards ul{
    display: flex;
    flex-direction: row;
    
    

}
.cards ul li{
    /* border: 1px solid var(--secondary); */
    width: 30%;
    margin-right: 3rem;
    margin-top: -3rem;
    background-color: var(--primary);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 5rem;
    padding-right: 1rem;
    height: 300px;
    width: 300px;
    margin-left: 2rem;
}
/* .cards ul li{
    border:1px solid black ;
    display: flex;
    justify-content: space-between;
    margin-top: -6rem;

    margin-right: 2rem;

    background-color: var(--primary);
    
        
} */
.card-content{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    
}
.card-content h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    position: relative;
    
}
.card-content h3::after{
    content: " ";
    border: 1px solid #C02D34 ;
    position: absolute;
    width: 80px;
    left: 0;
    bottom: -10px;
}
.button{
    background-color: #C02D34;
    
    padding: 1rem;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35px;
    
}

.card-content p{
    width: 80%;
    color: #808080;
    margin-top: 1.5rem;
}


